#barInfo {
    display: block;
    position: absolute;
    padding: 5px;
    border-style: solid;
    border-color: black;
    background-color: white;
  }
  
  .hidden {
    opacity: 0;
    display: none;
  }

  svg{
    display: block;
    background-color: white;
    margin: auto;
  }

body{
  overflow: hidden;
}

  #wrapper {
    background-color: #f8fbff;
  
  }

  #floatingBlock, #floatingBlock2{
      position: absolute;
      left: 20px;
      width: 200px;
      height: 100px;
      border: 3px solid black;
    transition-duration: 0.5s;
    background-color: white
  }

  .line {
    fill: none;
    stroke: grey;
    stroke-width: 3;
  }
  
#state{
  display: block;
  margin: auto;
}

.legend-rect {
  display: inline-block;
  height: 10px;
  margin-right: .5em;
  width: 10px;
}

button {
  display: block;
  margin: auto;
  margin-top: 10px;
}

body{
  font-family: 'Roboto Mono', monospace;
}
#animWrap{
  position: absolute;
}