#barInfo {
    display: block;
    position: absolute;
    padding: 5px;
    border-style: solid;
    border-color: black;
    background-color: white;
  }
  
  .hidden {
    opacity: 0;
    display: none;
  }

  svg{
    display: block;
    background-color: white;
    margin: auto;
  }

body{
  overflow: hidden;
}

  #wrapper {
    background-color: #f8fbff;
  
  }

  #floatingBlock, #floatingBlock2{
      position: absolute;
      left: 20px;
      width: 200px;
      height: 100px;
      border: 3px solid black;
    transition-duration: 0.5s;
    background-color: white
  }

  .line {
    fill: none;
    stroke: grey;
    stroke-width: 3;
  }
  
#state{
  display: block;
  margin: auto;
}

.legend-rect {
  display: inline-block;
  height: 10px;
  margin-right: .5em;
  width: 10px;
}

button {
  display: block;
  margin: auto;
  margin-top: 10px;
}

body{
  font-family: 'Roboto Mono', monospace;
}
#animWrap{
  position: absolute;
  top: 20px;
  text-anchor: middle;
  width: 300px;
}

#animWrap * {
display: inline-block;
}

#slider {
  -webkit-appearance: none;
  width: 50%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}


#play {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 4px 20px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  border-radius: 6px;
  height: 30px;
  text-anchor: middle;
}

#play {background-color: #4CAF50;} /* Green */
#play:hover {background-color: #46a049;}